header {
	border-bottom: 1px solid #d3d3d3;
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	font-size: 20px;
}
.me {
	line-height: 30px;
	text-align: left;
}
.content {
	padding: 20px;
}
.post_list {font-size: 14px;}
.post_list ul {padding-left: 10px;}
footer {text-align: center;}





